@use 'variables';

footer{
    margin-top: .9375rem;
    text-align: center;
    font-size: .6875rem;
    color: variables.$almostBlack;
    & a{
        text-decoration: none;
    }
    @media (min-width:64rem) {
        bottom: .3125rem;
        right: 8.75rem;
        position: absolute;
        font-size: .875rem;
    }
    @media (min-width:90rem) {
        right: 8.125rem;
        bottom: .625rem;
    }
}