@use 'variables';


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px 24px;
    .hamburguer-menu{
        // display: none;
    }
    & nav{
        display: none;
        border: 1px solid #000;
        color: variables.$mediumGray;
        & .back{
            background-color: variables.$mediumGray;
            // opacity: .75;
            position: absolute;
            left: 0;
            top: 0;
            width: 375px;
            height: 780px;
        }
        & .front{
            padding: 20px;
            background-color: variables.$almostWhite;
            width: 240px;
            position: absolute;
            right: 0;
            height: 100%;
            & .close-btn-container{
                text-align: right;
                cursor: pointer;
            }
            & li{
                list-style: none;
                cursor: pointer;
                margin-bottom: 26px;
            }
            & .submenu-btn{
                margin-bottom: 10px;
                width: 110px;
                height: 26px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 24px 0;
            }
            & .features-ul, .company-ul{
                margin-left: 28px;
            }
            & .features-icons{
                margin-right: 10px;
            }
            .nav__buttons{
                position: absolute;
                bottom: 124px;
                &-login{
                    display: block;
                    margin: 0 auto 16px;
                }
                &-register{
                    display: block;
                    margin: 0 auto;
                    border: 1px solid variables.$almostBlack;
                    border-radius: 8px;
                    width: 195px;
                    height: 42px;
                    border-radius: 14px;
                }
            }
        }
    }
}