@use 'variables';

main{
    display: flex;
    flex-direction: column;
    & .banner-mobile{
        width: 100%;
        margin-bottom: 3rem;
    }
    & h2{
        text-align: center;
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
    & p{
        text-align: center;
        line-height: 1.625rem;
        margin: 0 1rem 1.5rem;
        color: variables.$mediumGray;
        font-size: 1rem;
    }
    & button{
        display: block;
        background-color: variables.$almostBlack;
        color: variables.$almostWhite;
        width: 8.5rem;
        height: 3rem;
        border-radius: .9375rem;
        margin: 0 auto;
        margin-bottom: 3.25rem;
        &:hover{
            cursor: pointer;
            color: variables.$almostBlack;
            background-color: variables.$almostWhite;
            border: .0625rem solid variables.$almostBlack;
        }

    }
    & .clients{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        & .client-logo{
            &#databiz{
                width: 5.0625rem;
            }
            &#audiophile{
                width: 3.25rem;
            }
            &#meet{
                width: 4rem;
            }
            &#maker{
                width: 3.6875rem;
            }
        }
    }
    @media (min-width:48rem) {
        & picture{
            width: 80%;
            margin: 1.5rem auto;
            & .banner-mobile{
                margin-bottom: 0;
            }
        }
        & p{
            width: 37.5rem;
            font-size: 1.125rem;
            margin: 2.5rem auto;
        }
        h2{
            font-size: 2.625rem;
        }
        & button{
            width: 10.1875rem;
            height: 3.5rem;
            font-size: 1.125rem;
            margin-bottom: 2.875rem;
        }
    }
    @media (min-width:64rem) {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 7.5rem 1.25rem 7.1875rem;
        & picture{
            width: 25rem;
            margin: 0;
        }
        & h2{
            text-align: left;
            font-size: 2.9em;
            width: 21.875rem;
            margin: 6.25rem 0 3rem;
        }
        & p{
            text-align: left;
            font-size: .9375rem;
            font-weight: 500;
            width: 18.75rem;
            margin: 0 0 1.5625rem;
        }
        & button{
            margin: 0 0 7.25rem;
        }        
    }
    @media (min-width: 90rem) {
        & picture{
            width: 25rem;
            margin: 0;
        }
        & h2{
            text-align: left;
            font-size: 4.5em;
            width: 34.3125rem;
            margin: 6.25rem 0 3rem;
        }
        & p{
            text-align: left;
            font-size: 1.125rem;
            font-weight: 500;
            width: 25rem;
            margin: 0 0 1.5625rem;
        }
        & button{
            margin: 0 0 7.25rem;
        }
    }
}